.page {
  width: 1100px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 36px;
  height: 293px;
  font-size: 18px;
}

.menu__list {
  display: flex;
  gap: 25px;
}

.menu__item {
  list-style: circle;
}

.menu__link-active {
  text-decoration: none;
}

.logo__img-black {
  width: 148px;
  height: 105px;
}

.contacts {
  margin-left: 148px;
}

.contacts__list {
  list-style: none;
  line-height: 24px;
  gap: 3px;
}

.hero {
  background-image: url(/images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  min-height: 757px;
}

.hero__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  padding: 165px 50px 106px;
  display: flex;
  flex-direction: column;
}

.hero__title-center {
  text-align: center;
}

.hero__title-right {
  text-align: right;
}

.hero__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 61px 50px;
}