.title {
  color: #000000;
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 36px;
  height: 293px;
  font-size: 18px;
}

.menu__list {
  display: flex;
  gap: 25px;
}

.menu__item {
  list-style: circle;
}

.menu__link-active {
  text-decoration: none;
}

.logo__img-black {
  width: 148px;
  height: 105px;
}

.hero {
  min-height: 757px;
  color: #FFFFFF;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 106px;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
}

.hero__title-center {
  text-align: center;
}

.hero__title-right {
  text-align: right;
}

.hero__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 61px 50px;
}

.lots {
  margin-top: 180px;
}

.lots__title {
  margin-left: 40px;
}

.lots__list {
  display: flex;
  gap: 25px;
  margin-top: 27px;
  color: #FFFFFF;
}

.lots__item {
  display: flex;
  flex-direction: column;
  max-width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  background-color: black;

}

.lots__button {
  margin-top: 30px;
  margin-left: 40px;
}

.lots__item-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
}

.lots__item-description {
  margin-top: auto;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

.about {
  display: flex;
  gap: 72px;
  margin-top: 120px;
}

.about__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.logo-white {
  width: 148px;
  height: 114px;
  text-align: center;
}

.about__info {
  max-width: 693px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
  font-size: 20px;
  line-height: 24px;
}