.title {
  color: #000000;
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.underlined {
  display: inline-block;
  border-bottom: 1px solid black;
  text-decoration: none;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.6;
  background-color: #000;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 93px 50px;
}

.menu__list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.menu__link {
  font-weight: normal;
  font-size: 18px;
}

.menu__item-active {
  list-style: none;
}

.menu__link-active {
  text-decoration: none;
}

.logo__img.logo__img-black {
  width: 148px;
  height: 105px;
}

.cover {
  position: relative;
  z-index: 1;
  min-height: 757px;
  padding: 165px 50px 50px;
  color: #FFFFFF;
  background-image: url('/images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  color: #FFFFFF;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.title-block {
  display: block;
}

.cover__title-center {
  margin-top: 20px;
  margin-left: 27px;
  text-align: center;
}

.cover__title-right {
  width: 103%;
  margin-top: 20px;
  text-align: right;
}

.cover__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.cover__subtitle {
  word-spacing: 18px;
}

.cover__button {
  border: 1px solid #FFFFFF;
  padding: 12px 32px;
  text-transform: uppercase;
}

.lots {
  margin-top: 180px;
  color: #FFFFFF;
}

.lots__card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.lots__list {
  display: flex;
  gap: 25px;
  margin-left: 24px;
}

.lots__title {
  padding-bottom: 32px;
  padding-left: 64px;
}

.lots__item {
  width: 334px;
  min-height: 596px;
}

.lots__link {
  height: 100%;
}

.card-type-movie {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__item-title {
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.lots__item-description {
  margin-top: auto;
  font-size: 20px;
  line-height: 120%;
}

.lots__button {
  margin-top: 30px;
  margin-left: 64px;
  color: #000000;
  font-size: 20px;
  line-height: 1;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin-top: 155px;
  margin-left: 72px;
}

.about__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.logo-white {
  width: 148px;
  height: 114px;
}

.about__info {
  margin-top: 107px;
  margin-left: -24px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
  font-size: 20px;
  line-height: 24px;
}

.about__text p:first-child {
  width: 688px;
}

.about__text p:last-child {
  width: 693px;
}

.footer {
  display: grid;
  display: flex;
  grid-template-columns: 265px 1fr 1fr;
  justify-content: space-between;
  margin-top: 180px;
  padding: 0px 50px 82px;
}

.footer__contacts {
  margin-left: 0;
}

.footer-menu__list {
  text-align: center;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}